.navbar {
  display: flex;
  justify-content: flex-end; /* Выравнивание по правому краю */
}

.navbar-toggler {
  margin-left: auto; /* Отступ для кнопок */
}

.nav-link {
  color:  #b3b3b3;
  font-size: 14px; /* Уменьшенный размер шрифта */
  font-weight: normal; /*  Обычный вес */
}

.nav-link:hover { 
  color: #293133; /* Серый цвет при наведении */
  
}


.container {
  padding-left: 20px; /* Отступ слева */
  padding-right: 20px; /* Отступ справа */
}

.nav-link-2 {
  color:  #000000
  
}

/* Стили для кнопки с классом "add" */
.button.add {
  display: inline-block; /* Делает кнопку блочным элементом, но позволяет располагаться в строку */
  padding: 10px 20px; /* Отступы внутри кнопки */
  text-decoration: none; /* Убирает подчеркивание по умолчанию у ссылок */
  color: black; /* Цвет текста */
  border: 1px solid black; /* Чёрная рамка */
  background-color: white; /* Белый фон */
  border-radius: 5px; /* Скругление углов */
  transition: background-color 0.3s ease; /* Плавный переход для эффекта при наведении */
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.product-form {
  margin-top: 20px;
}
.product-form input, .product-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.product-form input[type="submit"] {
  background-color: #f0f0f0;
  cursor: pointer;
}
.product-form input[type="submit"]:hover {
  background-color: #e0e0e0;
}

.nav-link-2:hover { 
  color: #8b00ff; /* Серый цвет при наведении */
  
}

.nav-link-3 {
  color: #000000;
  text-align: right; /* Выравнивание текста по правому краю */
  margin-bottom: 15px;
}

.nav-link-3:hover { 
  color: #000; 
  
}

.nav-link-2 {
  margin-left: 10px; 
  margin-right: 10px;
}

.nav-item {
  font-weight: 700;
  
}

h1 {
  font-weight: bold; 
}

.sale {
  color: #ff3867; /* Розовый цвет для Sale */
}

.sale:hover {
  color: #ff3867; /* Розовый цвет при наведении */
}

.breadcrumb {
  margin-top: 50px;
  margin-left: 25px;
  font-size: 14px; /* Уменьшенный размер шрифта */

}

.breadcrumb-item a {
  font-size: 14px; /* Уменьшенный размер шрифта */
  color: gray;
}

.nav-item.dropdown:hover .nav-link {
  color: #8b00ff; /* Цвет текста при наведении */
}

.nav-item.dropdown:hover .nav-link::after {
  border-bottom-color: #8b00ff; /* Цвет подчеркивания */
}

.dropdown-toggle {
  color: black; /* Устанавливаем цвет текста для .dropdown-toggle в черный */
}

.carousel-buttons {
  display: flex;
  flex-direction: column;  /* Выравнивание кнопок вертикально */
  gap: 10px;
}

.carousel-buttons button {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.carousel-buttons button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-buttons button.active {
  border: 2px solid #007bff; /* Добавляем границу для активной кнопки */
}


.table {
  border-collapse: collapse; /* Склеиваем границы ячеек */
  border: none; /* Убираем рамку таблицы */
}

.table td, .table th {
  border: none; /* Убираем границы ячеек */
  padding: 0.5rem; /* Добавляем отступ для лучшего чтения */
}

.table th {
  font-weight: bold; /* Делаем заголовки жирными */
}

.carousel-image {
  max-height: 400px;
  max-width: 600px;
}

#carouselExampleControls {
  max-width: 800px;
}

.carousel-item img {
  object-fit: contain;
  max-height: 400px;
}

.col-md-6 img {
  display: block;
  width: 75%; 
  height: auto;
}

.image-container {  
  width: 50%; 
}

.btn-group .btn-outline-primary {
  border: none; 
  background-color: transparent; 
  padding: 15px; 
  font-size: 24px; 
  color: #000000; 
}

.btn-group .btn-outline-primary:hover {
  color: #8b00ff;
   
}

.btn-group .btn-check:checked + .btn-outline-primary { 
  color: #8b00ff; 
  border: none; 
  background-color: transparent; 
  background-color: white;
}

.btn-custom {
  background-color: #fff; /* Синий цвет фона */
  color: black; /* Белый цвет текста */
  padding: 10px 20px; /* Отступы */
  border: none; /* Удаляем границу */
  border-radius: 5px; /* Скругление углов */
  cursor: pointer; /* Курсор указателя */
  font-size: 35px; /* Размер шрифта */
}

.d-flex {
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  align-items: center; /* Выравнивает по вертикали */
}

.btn-secondary.dropdown-toggle {
  /* Сброс стилей Bootstrap */
  background-color: transparent;
  border: none;
  color: #333; 
  padding: 0;
}


/* Стилизация кнопки */
.btn-secondary.dropdown-toggle {
  background-color: white; /* Белый фон */
  color: #333; /* Черный цвет текста */
  border-radius: 4px; /* Скругление углов */
  padding: 8px 16px; /* Отступы */
  cursor: pointer; /* Курсор указателя */
}

.my-trigger-button {
  background-color:#8b00ff; /* Белый фон */
  color: #fff; /* Черный цвет текста */
  border-radius: 4px; /* Скругление углов */
  border: none; /* Удаляем границу */
  cursor: pointer; /* Курсор указателя */
  width: 60px; 
  height: 60px;
  font-size: 30px;
  margin: 10px;
}

.btn-cart-add {
  /* Стиль для кнопки "Добавить в корзину" */
  background-color: #8b00ff; /* Зеленый цвет фона */
  color: white; 
  border: none; /* Удаляем границу */
  margin: 10px;
  width: 600px; 
  height: 90px;
  font-size: 24px;
  text-align: center;
}

.btn-cart-add:hover {
  /* Изменение цвета фона при наведении */
  background-color: #000; /* Более темный зеленый */
}

.btn-compare {
  /* Стиль для кнопки "К сравнению" */
  background-color: #fff; /* Белый цвет фона */
  color: #8b00ff;
  margin: 10px;
  width: 280px;  /*  Изменяем ширину */
  height: 60px; /*  Изменяем высоту */
  font-size: 20px;  /*  Изменяем размер шрифта */
  text-align: center;
  transition: none; /*  Отключаем все переходы */
  border: 2px solid #8b00ff; /* Черная рамка толщиной 2 пикселя */
}

.btn-compare:hover {
  background-color: #fff; /* Белый цвет фона */
  color: #8b00ff;
  margin: 10px;
  width: 280px;  /*  Изменяем ширину */
  height: 60px; /*  Изменяем высоту */
  font-size: 20px;  /*  Изменяем размер шрифта */
  text-align: center;
  border: 2px solid #8b00ff; /* Черная рамка толщиной 2 пикселя */
}

.btn-link {
  background-color: transparent; /* Убираем фон */
  border: none; /* Убираем рамку */
  color: #000;
  padding: 0; /* Убираем отступы */
  font-size: 32px; /* Размер шрифта */
  text-decoration: none; /* Подчеркивание */
  cursor: pointer; /* Устанавливаем курсор в виде указателя */
  text-align: left; /* Выравниваем текст по левому краю */
  margin: 25px;
}

.fixed-element {
  position: absolute;
 
}

.place img {
  width: 110%; /* Уменьшаем ширину изображения до 80% */
  height: auto; /* Автоматически подбираем высоту, сохраняя пропорции */
}

.btn-link:hover {
  color: #000; 
  text-decoration: none; /* Убираем подчеркивание при наведении */
}

.transport-companies ul {
  color: #333;
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы */
  margin-top: 10px; /* Добавляем отступ сверху */
}

.transport-companies li {
  color: #333;
  margin-bottom: 5px; /* Добавляем отступ снизу */
  font-size: 16px; /* Размер шрифта */
}

.images-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; /* Отступ снизу для картинок */
}

.images-container img {
  width: 100px;
  height: 100px; }

.btn-outline-success {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  background-color: #ccc; /* Серый фон */
  border-color: #ccc; /* Серый цвет границы */
  color: #333; /* Серый цвет текста */
}

.icons { 
  width: 30px; 
  height: 30px; 
  margin-left: 10px;
}


.card { 
  border: none;
}

.card img { 
  width: 100px; 
  height: 100px; 
  border: none;
}

.social-media-icon { 
  width: 30px; 
  height: 30px; 
}

.btn-primary-img {
  background-color: white; /* Белый фон */
  color: white;
  border: none; /* Убираем рамку */
  cursor: default; /* Убираем курсор указателя */
}

.btn-primary-img:hover {
}

.btn-primary-img:focus {
  outline: none; /* Убираем контур фокусировки */
}


.d-flex {
  display: flex; /* Включаем flexbox */
  justify-content: space-between; /* Выравниваем по горизонтали */
}

.bg-color-white {
  background-color: white;
}

.nav-item {
  white-space: nowrap;
}


.logo img {
  width: 80%;
  max-height: 85px;
  min-height: 65px;
}

.btn {
  padding: 3% !important;
  background-color: #525FE1;
}

.container img {
  max-width: 100%;
  height: auto;
}

.d-none.d-sm-block {
  position: relative;
  padding-left: 15px;
}

.d-none.d-sm-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 2px;
  background-color: blue;
}

.navbar-nav .nav-item {
  flex: 0 1 auto;
}

@media (max-width: 992px) {
  .navbar-nav {
      justify-content: center;
  }
}

.navbar-nav > a {
  flex-basis: auto;
  text-align: center;
}

.navbar-toggler {
  border: none;
}

.navbar-nav .nav-link, .link {
  color: black !important;
  text-decoration: none;
  transition: color 0.7s ease;
}

.navbar-nav .nav-link:hover, .link:hover {
  color: #0849ac !important;
}

.btn:hover {
  background-color: #002050 !important;
}

.nav-link.active {
  color: #d34186 !important;
}

.header-style-2 {
  margin: 0 25px;
}

.mr-20 {
  margin: 5% 15%;
}

.pre-title {
  color: #525FE1;
}

.inner {
  background-color: white;
  padding: 15px;
  margin: 15px;
}

.map-container {
  position: relative;
}

.map-image {
  width: 100%;
  height: auto;
}

.info-block {
  position: absolute;
  top: 45%; /* Чуть выше середины */
  left: 25%; /* Чуть левее середины */
  transform: translate(-50%, -50%); /* Для точного центрирования */
  background-color: rgba(255, 255, 255);
  padding: 3em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}